/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/* In Development */

* {
    margin: 0;
    padding: 0;
}

img { 
    max-width: 100%;
}


/******************************************
/* BASE STYLES
/*******************************************/
:root {
    --paidUpGreen: #68cd70;
}

/* Body styling */
body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/background-image.png);
    background-size: 100vw 100vh;
    padding: 10px;
    text-align: center;
    
}


/******************************************
/* TYPOGRAPHY
/*******************************************/
/* h1 (general) styling */
h1 {
    font-family: "Roboto Flex";

}

/* h2 (general) styling */
h2 {
    font-family: "Nunito Sans";
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.4rem;


}


/* h1 first line (general) styling */
h1>span:nth-child(1) {
    font-weight: 200;

}

/* Red h1 text color */
.header-text-red {
    color: #998181; 
    background-image: linear-gradient(45deg, #998181 50%, #FFD6D6 100%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

/* Green h1 text color */
.header-text-green {
 color: #07170E; 
 background-image: linear-gradient(45deg, #3f9f69 50%, #BDFFD8 100%); 
 background-clip: text; 
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
}

/* p font family */
p {
    font-family: "Nunito Sans";
}
/* Main right p font styling */
.main-right-content p {
    font-size: 1.2rem;
    font-weight: 700;
}




/******************************************
/* MAIN STYLING
/*******************************************/
/* Main styling */
main {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

/* Main left styling */
.main-left {
    position: relative;
    background-image: url(../images/left-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: calc(100vh - 20px);
    border: 2px solid var(--paidUpGreen);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* Logo styling */
.main-left img {
    width: 150px;
    position: absolute;
    top: 6.5%;
}

/* h1 styling */
h1 {
    position: absolute;
    top: 13%;
}

/* Main left "p" styling */
.main-left p {
    max-width: 600px;
    position: absolute;
    bottom: 5%;
}

/* Main left "p" styling */
.main-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: url(../images/green-wave.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Main right content styling */
.main-right-content {
    background: rgba(211, 211, 211, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.201);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1.5px solid rgba(138, 138, 138, 0.373);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

/* Main right heading container styling */
.main-right-heading-container {
    /* border: solid 1px black; */
}

/* Main right heading image styling */
.main-right-heading-container img {
   width: 70px;
   margin-bottom: 15px;
}

/* Main right p (subtext) styling */
.main-right-heading-container p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

 }


/* Main right p (subtext) pseudo element styling */
.main-right-heading-container p::after {
    content: "";
    display: block;
    width: 70%;
    border-bottom: 1px solid #a0a0a0;
    height: 1px;
 }

/******************************************
/* FORM STYLING
/*******************************************/

/* Form styling */
form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* Form control wrapper styling */
.form-control-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Form control title styling */
label, legend {
    font-family: "Nunito Sans";
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
}

/* Email input styling */
input[type="email"] {
    display: block;
    width: 80%;
    padding: 0.5rem;
    text-align: center;
    border: black solid 1px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
    transition: 500ms;
}

/* (Valid) Email input styling */
input[type="email"]:valid {
    border: var(--paidUpGreen) solid 2px;
}

/* (User Invalid) Email input styling */
input[type="email"]:user-invalid {
    border: red solid 1px;
}

/* (Focus) Email input styling */
input[type="email"]:focus {
    outline: none;
    background: #cacaca7c;
}

/* (Hover) Email input styling */
input[type="email"]:hover {
    -webkit-box-shadow: 0px 0px 21px -6px ;
    -moz-box-shadow: 0px 0px 21px -6px #1a7021;
    box-shadow: 0px 0px 21px -3px #1a7021;
    transition: 500ms;
}


/* Select styling */
select {
    appearance: none;
    display: block;
    width: 80%;
    padding: 0.5rem;
    text-align: center;
    border: black solid 1px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
    transition: 500ms;
    font-weight: 700;
    outline: none;
}


/* Sselect wrapper styling */
.select-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}


/* Select icon styling */
.select-wrapper::after {
    content: url(../images/chevron-down.svg);
    position: absolute;
    right: 60px;
    top: 5.5px;
    width: 3px;
    height: 3px;

}

/* (Hover) select styling */
select:hover {
    -webkit-box-shadow: 0px 0px 21px -6px ;
    -moz-box-shadow: 0px 0px 21px -6px #1a7021;
    box-shadow: 0px 0px 21px -3px #1a7021;
    transition: 500ms;
}

/* (Valid) select  styling */
select:valid {
    border: var(--paidUpGreen) solid 2px;
}

/* Fieldset styling */
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
}

/* Radio label normal font weight */
fieldset label {
    font-weight: 400;
}

/* Ul styling */
ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Cancel label margin bottom for radio input labels styling */
li label {
    margin-bottom: 0;
}


/* Radio input styling */
input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: #07170E solid 2px;
    border-radius: 50%;
    margin-right: 0.7rem;
    position: relative;
    
}

/* Radio input reset styling */
input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--paidUpGreen);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;

}

/* Li styling */
li {
    list-style: none;
    display: flex;
    align-items: center;
}

/* Text area styling */
textarea {
    display: block;
    width: 80%;
    height: 150px;
    padding: 0.5rem;
    text-align: center;
    border: black solid 1px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
    transition: 500ms;
}

/* (Focus) Text area styling */
textarea:focus {
    outline: none;
    background: #cacaca7c;
}

/* (Hover) Text area styling */
textarea:hover {
    -webkit-box-shadow: 0px 0px 21px -6px ;
    -moz-box-shadow: 0px 0px 21px -6px #1a7021;
    box-shadow: 0px 0px 21px -3px #1a7021;
    transition: 500ms;
}

/* Button styling */
button {
    background: linear-gradient(90deg, #176639 3.92%, #2ECC71 96.62%);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: #1237228b;
    color: white;
    font-family: "Nunito Sans";
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px 25px;
    transition: 500ms;
}

/* Button hoverstyling */
button:hover {
    -webkit-box-shadow: 0px 0px 21px -6px ;
    -moz-box-shadow: 0px 0px 21px -6px #1a7021;
    box-shadow: 0px 0px 21px -3px #1a7021;
    transition: 500ms;
    color: yellow;
}



